body {
    background-color: #141414;
    font-family:  Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}

/* NAVBAR */

body>header>.container>.row>.navbar {
    background-color: #141414;
}

/* resize logo img brand */
body>header>div>div>nav>a>img {
    width: 6.7rem;
}

/* dimesioni logo collapse navbar */

.navbar>button>img{
    width: 2rem;
}

/* resize fontsize scritta KIDS */
#categories {
    font-size: 1rem;
}

/* colore freccetta menu dropdown user */
#navbarSupportedContent>div>div.col.dropdown.p-0>a::after {
    color: white;
    inset: 3px 3px;
    position: relative;
}

/* Title e Icon section */

/* dimensioni icone sulla destra */
body>main>.container-fluid>div>.row>div>button {

    width: 3rem;
    height: 2.2rem;
}

/* creo linea per icona */
body>main>.container-fluid>div>.row>div:nth-child(1)>button::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    color: white;
    width: 3rem;
    height: 2rem;


}

/* CAROSELLO */

.card-body{
    display: none;
}

.carousel-item{
    width: 111%;
}
.carousel-inner{
    /* overflow: visible; */
    left: 15px;
}



